In [55]:
import pandas as pd
import os
import csv
os.getcwd()

'/home/user/Documents/Mbuso'

In [56]:
os.listdir(os.getcwd())

['.~lock.Golden Roots Data collection - Students (Responses) - Form Responses 1.csv#',
 '.ipynb_checkpoints',
 'clean.ipynb',
 'addaxz-uml.jpg',
 'undergrad.csv']

In [57]:
pd.read_csv('undergrad.csv')

,Timestamp,What is the cellphone number of the person that sent this form to you? (This is entirely optional),What qualification are you currently pursuing?,What is your current year of study in your qualification?,What is the name of the institution you are currently pursuing your qualification at?,Expected year of graduation?,What is your plan after finishing your undergraduate studies?,What do you think is the gross salary per month of the people in your field who only hold an undergraduate degree?,What do you expect to earn per month?,How much money do you think you will get taxed by SARS per month?,What is your gender?,What is your race?
0,10/20/2019 19:00:12,NaN,BS in Computer Science,2nd,Wits,2/2/2021,Do postgraduate studies.,R230 000 pa,R10 000,NaN,Male,Black
1,10/20/2019 19:00:20,NaN,Actuarial science,1st year,Wits,12/25/2021,Do postgraduate studies.,R40000,R60000,NaN,Male,Black
2,10/20/2019 19:02:36,NaN,Public relations,NaN,Rosebank College,NaN,Go find a job.,R13000-20000,R15000,NaN,Prefer not to say,Black
3,10/20/2019 19:04:38,NaN,Bachelor of Education,First,University of Johannesburg,10/20/2019,Go find a job.,R17000,R20000,NaN,Female,Black
4,10/20/2019 19:07:40,NaN,BSc Computer Science,3rd Year,University of the Witwatersrand,7/3/2020,Go find a job.,40 000,40 000,NaN,Male,Black
...,...,...,...,...,...,...,...,...,...,...,...,...
203,11/10/2019 16:23:08,NaN,Stratigic Communication in Marketing,First year,University of Johannesburg,3/1/0022,Go find a job.,R45000,R20000,R8000,Female,Indian
204,11/10/2019 17:06:57,NaN,BSc in Computer Science,Second year,University of the Witwatersrand,11/22/2020,Do postgraduate studies.,R15000,R19000,R3635,Male,White
205,11/10/2019 19:21:42,NaN,BSc Compugersscience,First year,Wits,12/1/2021,Start your own business.,R30k,R40k,R8k,Male,Black
206,11/10/2019 21:42:53,NaN,Information Systems,Third year,University of the Witwatersrand,12/30/2019,Go find a job.,20k,20k,"3,5k",Prefer not to say,Prefer not to say
207,11/11/2019 8:36:04,NaN,BSc. Information Systems,Second year,University of the Witwatersrand,11/11/2020,Do postgraduate studies.,38000.00 p/m,39000.00 p/m,Approximately 13600 p/m,Female,Black

In [58]:
doc = csv.reader(open('/home/user/Documents/Mbuso/undergrad.csv'))
lines = list(doc)

In [59]:
row_count = len(lines)-1
col_count = len(lines)-1

In [61]:
for i in range(row_count):
    print(lines[i][3])

What is your current year of study in your qualification?
2nd
1st year

First
3rd Year
2nd
First Year
2
1
completed
First year
First
Physics
3rd
1st
First year
First
2
3rd
2nd year
First year
2
2nd year
3
2
3rd year
Second year
2nd
2
First year
Final year
First year
2nd
2/3
No
2nd year
2
Second year
1
3
3rd year
3rd
1
2
Second year
3
2019
1st year
1
First Year
3
2nd

Second year


First year
First year
First year
Second year

Third year
First year
First year
Third year
First year
First year
First year
First year
Second year
First year
Third year
Third year
Third year
First year
First year
Third year
Third year
Third year
Third year
Third year
First year
Third year
First year

Second year
Third year
Forth year
Second year
Third year
Second year
Second year
Third year
Second year
Second year
Second year
Second year
First year
Second year
Second year
First year
Second year
Second year
First year
First year
First year
Second year
Second year
Third year
Second year
First year
First year
First year
First year
Second year
First year
Second year
Second year
Second year
Third year
First year
First year
Second year
First year
Third year
Second year
Third year
Second year
Second year
Second year
Second year
First year
First year
Third year
Third year
First year
First year
Third year
First year
First year
First year
First year
First year
First year
First year
First year
Second year
First year
Forth year
Second year
Third year
Third year
Third year
Second year
Second year
First year
Forth year
Third year
Second year
Second year
Third year
Third year
Second year
Second year
Second year
Second year
Second year
Second year
Third year
Second year
Third year
First year
Second year
First year
First year
Second year
Second year
Third year
Third year
Second year
Third year
Second year
Second year
Third year
Second year
Forth year
First year
Second year
First year
Second year
Second year
Second year
Second year
Second year
Second year
Second year
Second year
Second year
Third year
Third year
Third year
Second year
Third year
First year
Second year
First year
Third year

In [66]:
for i in range(row_count):
    if lines[i][3] == '2nd' or lines[i][3] == '2nd year' or lines[i][3] == 'Second year':
        print("2")
    elif lines[i][3] == '3rd' or lines[i][3] == '3rd Year ' or lines[i][3] == '3rd year' or lines[i][3] == 'Third year':
        print("3")
    elif lines[i][3] == '1st' or lines[i][3] == 'First Year' or lines[i][3] == '1st year' or lines[i][3] == 'First year ' or lines[i][3] == 'First year' or lines[i][3] == 'First ' or lines[i][3] == 'First' :
        print("1")
    else:
        print("Null")

Null
2
1
Null
1
3
2
1
Null
Null
Null
1
1
Null
3
1
1
1
Null
3
2
1
Null
Null
Null
Null
3
2
2
Null
1
Null
1
2
Null
Null
2
Null
2
Null
Null
3
3
Null
Null
Null
Null
Null
1
Null
1
Null
2
Null
2
Null
Null
1
1
1
2
Null
3
1
1
3
1
1
1
1
2
1
3
3
3
1
1
3
3
3
3
3
1
3
1
Null
2
3
Null
2
3
2
2
3
2
2
2
2
1
2
2
1
2
2
1
1
1
2
2
3
2
1
1
1
1
2
1
2
2
2
3
1
1
2
1
3
2
3
2
2
2
2
1
1
3
3
1
1
3
1
1
1
1
1
1
1
1
2
1
Null
2
3
3
3
2
2
1
Null
3
2
2
3
3
2
2
2
2
2
2
3
2
3
1
2
1
1
2
2
3
3
2
3
2
2
3
2
Null
1
2
1
2
2
2
2
2
2
2
2
2
3
3
3
2
3
1
2
1
3

2

208